.DS_Store
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
build/**/*
*/build/*
