.DS_Store
*.swp
*~.nib
*.perspective
*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
build/**/*

.svn/

Vendor/pjsip/*/aconfigure
Vendor/pjsip/*/autom4te.cache
Vendor/pjsip/*/build.mak
Vendor/pjsip/*/config.log
Vendor/pjsip/*/config.status
Vendor/pjsip/*/*/bin
Vendor/pjsip/*/*/lib
Vendor/pjsip/*/*/*-auto.mak
Vendor/pjsip/*/*/*/*-auto.mak
Vendor/pjsip/*/*/*/*/*-auto.mak
Vendor/pjsip/*/*/*/*/*_auto.h
Vendor/pjsip/*/*/*/*/*/*_auto.h
Vendor/pjsip/*/*/*/*/*_autoconf.h
Vendor/pjsip/*/*/*/*.depend
Vendor/pjsip/*/*/*/*/*.depend
Vendor/pjsip/*/*/build/output
Vendor/pjsip/*/*/build/*/output
